<nav class="navbar">
    <a id="homeImage" routerLink="/" matTooltip="Go to home page" mat-button><img id="z-img"
            src="../../../assets/img/Z-img.png">
    </a>
    <a class="nav-link" id="btnHome" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        mat-icon-button matTooltip="Home Page">
        <mat-icon>home</mat-icon>
    </a>
    <a class="nav-link" id="btnCode" routerLink="code" routerLinkActive="active" mat-button matTooltip="Code Portfolio">
        Code
    </a>
</nav>
