<nav class="navbar">
  <a id="homeImage" routerLink="/"><img src="assets/img/Z-img.png" alt="logo" width="55" />
  </a>
  <a class="nav-link" routerLink="/" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}"
    mat-icon-button>
    <span class="material-icons"> home </span>
  </a>
  <a class="nav-link" routerLink="resume" routerLinkActive="router-link-active" mat-button>
    <span class="mat-button-wrapper">Resume</span>
  </a>
  <a class="nav-link" routerLink="projects" routerLinkActive="router-link-active" mat-button>
    <span class="mat-button-wrapper">Projects</span>
  </a>
</nav>
