.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-wrap: normal;
}
.jumbotron {
  flex-grow: 1;
  margin: 0 10px;
}
img {
  border-radius: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  img {
    margin: 0 10px 0 0;
  }
  .jumbotron {
    max-width: 800px;
    margin: 0 auto;
  }
}
