@use 'themes';
@use 'variables' as v;
@use '@angular/material' as mat;

html,
body {
  height: 100%;
  width: 100vw;
  @include mat.core-theme(themes.$theme);
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: mat.get-color-from-palette(v.$primary, 300);
  border-radius: 5px;
}
a:hover {
  color: white;
  background-color: mat.get-color-from-palette(v.$primary, 500);
}

h1 {
  margin: 0;
}

.hamburger {
  cursor: pointer;
  margin: 0 auto;
}

.md-24 {
  font-size: 24px;
}

.md-36 {
  font-size: 36px;
}

.md-48 {
  font-size: 48px;
}

.navbar a.active,
.nav a.active {
  background-color: v.$brand-color;
  color: white;
}

.navbar a:hover,
.nav a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.nav .linktext,
.navbar .linkText {
  background-color: #333;
  float: left;
  display: block;
  color: #f2f2f2;
  text-decoration: none !important;
  font-size: 17px;
}

.jumbotron {
  background-color: #303030 !important;
}

.text-center {
  text-align: center;
}
